@font-face {
    font-family: 'MyFont';
    src: url('./assets/GoudyBookletter1911-Regular.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
  }

:root{
    --ff-neutral: 'MyFont';
    --green: hsl(152, 91%, 17%);
    --light-green:#00BD18;
    --blue: #00338A;
    --purple: #8A0078;
    --brown: #8A5700;
}
*{
  font-family: var(--ff-neutral);
}  
body{
    margin: 0;
    padding: 0;
    background-color: black;
}

  #content {
    color: white;
    background-image: url('./assets/hero-bg.jpg');
    background-size: 150vw;
    background-repeat: no-repeat;
    background-color: black;
    width: 99vw;
    display: grid;
    grid-template-rows: 1fr 15fr 0.5fr;
    grid-template-columns: 1fr;
    height:175vh;
  }
  /* header style */
/* ======================== */
  .header{
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.85);
    opacity: 0.8;
  } 
  .header > img{
    grid-column: 1 / 2;
    align-self: center;
    justify-self: center;
    width: 300px;
  } 
/* navBar style */
/* ======================== */
  .navBar{
    grid-column: 2 / 5;
    display: grid;
    grid-template-columns: repeat(3,1fr);
        
  }  
  .navBar > button{
    color: white;
    background-color: inherit;
    width: 100%;
    height: 100%;
    font-size: 1.75rem;
    cursor: pointer;
    align-self: center;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  .navBar > button:hover{
    background-color: hsla(0, 0%, 25%, 0.7);  
  }
/* Container style */
/* ======================== */
  .container{
    justify-self: center;
    grid-row: 2 / 3;
    width: 98%;
    height: 60vh;
    margin-top: 12rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(2,1fr);
    place-content: center;
  }
  /* Container style */
/* ======================== */
  .hero{
    grid-area: 1 / 1 / 2 / 2;
    padding: 3rem;
    padding-left: 10%;
    font-size: 10rem;
    color: rgba(255, 255, 255, 0.608);
  }
  .paraHero{
    grid-area: 2 / 1 / 3 / 2;
    padding: 2rem;
    padding-left: 35%;
    font-size: 1.5rem;
    color: var(--green);
  }


  /* Menu style */
/* ======================== */
.menu{
  height: 100px;
  width: 100px;
  background-color: #fff;
}
.title{

}
.entries{

}
.food{

}
.drinks{

}


/* Contact style */
/* ======================== */




/* Footer style */
/* ======================== */
  .footer{
    grid-row: 3 / 4;
    background-color: black;
    opacity: 0.9;
    display: grid;
    place-content: center;
    color: rgba(255, 255, 255, 0.4);
  }