@font-face {
    font-family: 'MyFont';
    src: url('./GoudyBookletter1911-Regular.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
  }

:root{
    --ff-neutral: 'MyFont';
}  
body{
    margin: 0;
    padding: 0;
}

  #content {
    color: white;
   font-family: var(--ff-neutral);
    background: url('./hero-bg-image.jpg');
    height: 100vh;
  }  